**LECTURA DEL CSV ORIGINAL**

In [ ]:
import pandas as pd


#csv file name to be read in 

in_csv = 'US_Accidents_Dec21_updated.csv'


#get the number of lines of the csv file to be read

number_lines = sum(1 for row in (open(in_csv)))

#size of rows of data to write to the csv, 

#you can change the row size according to your need

rowsize = 40000
12
13
#start looping through data writing it to a new file for each set
14
for i in range(0,number_lines,rowsize):

    df = pd.read_csv(in_csv,

          header=None,

          nrows = rowsize,#number of rows to read at each loop

          skiprows = i)#skip rows that have been read


    #csv to write data to a new file with indexed name. input_1.csv etc.

    out_csv = 'input' + str(i) + '.csv'


    df.to_csv(out_csv,

          index=False,

          header=False,
          mode='a',#append data to csv file

          chunksize=rowsize)#size of data to append for each loop

**UNION DE LOS CSV EN UN DATA FRAME**

In [13]:
import pandas as pd
import glob
import os

# setting the path for joining multiple files
files = os.path.join('C:/Users/clara/US_Accidents', 'input*.csv')

# list of merged files returned
files = glob.glob(files)

print("Resultant CSV after joining all CSV files at a particular location...")

# joining files with concat and read_csv
accidentes = pd.concat(map(pd.read_csv, files), ignore_index=True)
print(accidentes)

Resultant CSV after joining all CSV files at a particular location...
        ID  Severity           Start_Time             End_Time  Start_Lat  \
0      A-1       3.0  2016-02-08 00:37:08  2016-02-08 06:37:08  40.108910
1      A-2       2.0  2016-02-08 05:56:20  2016-02-08 11:56:20  39.865420
2      A-3       2.0  2016-02-08 06:15:39  2016-02-08 12:15:39  39.102660
3      A-4       2.0  2016-02-08 06:51:45  2016-02-08 12:51:45  41.062130
4      A-5       3.0  2016-02-08 07:53:43  2016-02-08 13:53:43  39.172393
...    ...       ...                  ...                  ...        ...
79993  NaN       NaN                  NaN                  NaN        NaN
79994  NaN       NaN                  NaN                  NaN        NaN
79995  NaN       NaN                  NaN                  NaN        NaN
79996  NaN       NaN                  NaN                  NaN        NaN
79997  NaN       NaN                  NaN                  NaN        NaN

       Start_Lng    End_Lat    End_Lng  Distance(mi)  \
0     -83.092860  40.112060 -83.031870         3.230
1     -84.062800  39.865010 -84.048730         0.747
2     -84.524680  39.102090 -84.523960         0.055
3     -81.537840  41.062170 -81.535470         0.123
4     -84.492792  39.170476 -84.501798         0.500
...          ...        ...        ...           ...
79993        NaN        NaN        NaN           NaN
79994        NaN        NaN        NaN           NaN
79995        NaN        NaN        NaN           NaN
79996        NaN        NaN        NaN           NaN
79997        NaN        NaN        NaN           NaN

                                             Description  ...  False.7  \
0      Between Sawmill Rd/Exit 20 and OH-315/Olentang...  ...      NaN
1                     At OH-4/OH-235/Exit 41 - Accident.  ...      NaN
2                       At I-71/US-50/Exit 1 - Accident.  ...      NaN
3                        At Dart Ave/Exit 21 - Accident.  ...      NaN
4                     At Mitchell Ave/Exit 6 - Accident.  ...      NaN
...                                                  ...  ...      ...
79993                                                NaN  ...    False
79994                                                NaN  ...    False
79995                                                NaN  ...    False
79996                                                NaN  ...    False
79997                                                NaN  ...    False

      False.8 False.9 False.10 False.11 False.12 Night Night.1 Night.2  \
0         NaN     NaN      NaN      NaN      NaN   NaN     NaN     NaN
1         NaN     NaN      NaN      NaN      NaN   NaN     NaN     NaN
2         NaN     NaN      NaN      NaN      NaN   NaN     NaN     NaN
3         NaN     NaN      NaN      NaN      NaN   NaN     NaN     NaN
4         NaN     NaN      NaN      NaN      NaN   NaN     NaN     NaN
...       ...     ...      ...      ...      ...   ...     ...     ...
79993   False   False    False    False    False   Day     Day     Day
79994   False   False    False    False    False   Day     Day     Day
79995   False   False    False    False    False   Day     Day     Day
79996   False   False    False    False    False   Day     Day     Day
79997   False   False    False    False    False   Day     Day     Day

       Day;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
...                                      ...
79993  Day;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
79994  Day;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
79995  Day;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
79996  Day;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
79997  Day;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[79998 rows x 94 columns]

In [14]:
accidentes.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,False.7,False.8,False.9,False.10,False.11,False.12,Night,Night.1,Night.2,Day;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
0,A-1,3.0,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A-2,2.0,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A-3,2.0,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A-4,2.0,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A-5,3.0,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN